<div class="row">
  <div class="SystemCheckWidth">
    <form id="msform">
      <!-- progressbar -->

      <ul class="pl0" id="progressbar">
        <li class="active" id="id1">Audio</li>
        <li id="id2">Microphone</li>
        <li id="id3">Results</li>
      </ul>

      <fieldset *ngIf="show1">

        <div class="modify">
          <div class="well">
            <div href="#" class="play_holder">
              <span class="glyphicon glyphicon-volume-up color" (click)="click()"></span>
              <span class="text">
                <b>Listen to the Sound</b>
              </span>

            </div>
          </div>
          <form role="form">
            <div class="text-left">
              <p class="question">
                <b>Did You Hear the sound?</b>
              </p>
              <div class="md-radio">
                <input id="1" type="radio" name="g">
                <label for="1" value="1" (click)=" showNextBtn();options(1)">Yes, I heard</label>
              </div>
              <div class="md-radio">
                <input id="2" type="radio" name="g">
                <label for="2" value="2" (click)=" hideNextBtn();options(2)">Yes,but the volume was low</label>
              </div>
              <div class="md-radio">
                <input id="3" type="radio" name="g">
                <label for="3" value="3" (click)=" hideNextBtn();options(3)">No,I didnt hear the sound</label>
              </div>


            </div>
          </form>



          <div id="collapseOne" *ngIf="n1" class="panel-collapse">
            <div class="panel-body">
              <div>Your audio is set up.</div>
            </div>
          </div>
          <div id="collapseTwo" *ngIf="n2" class="panel-collapse">
            <div class="panel-body">
              <div>Make sure that you've adjusted your speaker volume.</div>
            </div>
          </div>
          <div id="collapseThree" *ngIf="n3" class="panel-collapse">
            <div class="panel-body bg-color">
              <div>
                If you didn't hear it, make sure that:
                <br>
                <ul class="radio-inline">
                  <li>Your headset is plugged into your computer.</li>
                  <li>Your speakers aren't set to Mute.</li>
                  <li>You've tried adjusting your speaker volume.</li>
                </ul>
              </div>

            </div>
          </div>


          <input type="button" [disabled]="!button" class="next action-button" value="Next" (click)="showNext(1)" />



        </div>
      </fieldset>
      <fieldset *ngIf="show2">
        <div class="parent">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
              <ul id="button" class="record_buttons">
                <li *ngIf="icon1">
                  <button id="micRecordIcon" class="glyphicon glyphicon-record record_button" (click)="startRec(1)"></button>
                </li>
                <li *ngIf="icon2">
                  <button class="record_button amp_button">
                    <div class="mover amplitude" [style.height.px]="analyserNode/3"></div>
                  </button>
                </li>
                <li>
                  <button id="micStop" class="glyphicon glyphicon-stop record_button" (click)="stopRec(2)"> </button>
                </li>
                <li>
                  <button id="micVolumeUp" class="glyphicon glyphicon-volume-up record_button" (click)="listen()"> </button>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 text-left">
              <div class="body-2">1. Click Record, and say,
                <br>
                <span>
                  <b>"I am testing my microphone by recording my voice."</b>
                </span>
              </div>
              <div class="body-2">2. Click Stop when you're finished.</div>
              <div class="body-2">3. Click Listen to play back the recording.</div>
            </div>
          </div>

          <form role="form" class="form">
            <div class="text-left ">
              <p class="question">
                <b>Did You Hear the Recording?</b>
              </p>

              <div class="md-radio">
                <input id="1" type="radio" name="g">
                <label for="1" value="1" (click)=" showNextBtn();options(1)">Yes, I heard</label>
              </div>
              <div class="md-radio">
                <input id="2" type="radio" name="g">
                <label for="2" value="2" (click)=" hideNextBtn();options(2)">Yes,but the volume was low</label>
              </div>
              <div class="md-radio">
                <input id="3" type="radio" name="g">
                <label for="3" value="3" (click)=" hideNextBtn();options(3)">No,I didnt hear the sound</label>
              </div>

            </div>
          </form>
        </div>



        
            <div id="collapse1" *ngIf="n1" class="panel-collapse ">
              <div class="panel-body">
                <div>Your Microphoneis set up.</div>
              </div>
            </div>
         

          
            <div id="collapse2" *ngIf="n2" class="panel-collapse">
              <div class="panel-body">
                <div>
                  If your volume is low, make sure that:
                  <br>
                  <ul class="radio-inline">
                    <li>Your headset is plugged into your computer.</li>
                    <li>Your speakers aren't set to Mute.</li>
                    <li>You've tried adjusting your speaker volume.</li>
                  </ul>
                </div>
                <div class="width-change" >
                  {{selectedDevice}}
                  <select class="widthChangeChild"  [(ngModel)]="selectedDevice" (change)="changeRecSource()" selected="selected">
                    <option [value]="device.deviceId" *ngFor="let device of deviceslist" value="jasdf">{{device.label}}</option>
                  </select>
                 

                </div>


              </div>
            </div>





          
            <div id="collapse3" *ngIf="n3" class="panel-collapse ">
              <div class="panel-body">
                <div>
                  If you didn't hear it, make sure that:
                  <br>
                  <ul class="radio-inline">
                    <li>Your headset is plugged into your computer.</li>
                    <li>Your speakers aren't set to Mute.</li>
                    <li>You've tried adjusting your speaker volume.</li>
                  </ul>
                </div>
                <div class="width-change" >
                  {{selectedDevice}}
                  <select class="widthChangeChild"  [(ngModel)]="selectedDevice" (change)="changeRecSource()" selected="selected">
                    <option [value]="device.deviceId" *ngFor="let device of deviceslist" value="jasdf">{{device.label}}</option>
                  </select>
                
                </div>
           </div>




          </div>
       


        <input type="button" name="previous" class="previous action-button-previous" (click)="showPrevious(1)" value="<" />
        <input type="button" name="next" [disabled]="!button" class="next action-button" (click)="showNext(2)" value="Next" />
      </fieldset>

      <fieldset *ngIf="show3">
        <h4 class="fs-title">Results</h4>
        <div class="panel-default1">
          <div class="panel-bodyResult">Audio
            <span class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="panel-bodyResult">Microphone
            <span class="glyphicon glyphicon-ok"></span>
          </div>
        </div>
        <br>
        <div class="note">
          <p>Need Help? For technical assistence,
            <b>contact our</b> customer service department.You can also find solutions to many porblems in the online help section</p>
        </div>
        <input type="button" name="previous" class="previous action-button-previous" (click)="showPrevious(2)" value="<" />
        <input type="submit" name="submit" class="submit action-button" value="Next" />
      </fieldset>



    </form>
  </div>
</div>