



.color{
    color:green;
    font-size: 30px;
}

.SystemCheckWidth{
    max-width: 600px;
    width: 100%;
    display: inline-block;
}


.play_holder{
    text-align: left;
    display: inline-block;
}
.play_holder .text,.play_holder .color{
    text-align:left;
    float:left;
}
.text{
    padding:10px;
    font-size:10px;
}
.question{
    text-align:left;
}

.well{
    width:50%;
    text-align:left;
    display:inline-block;
}
.modify{
    text-align: center;
}
.next.action-button:disabled{
    background-color: rgb(233, 190, 134);
}
.panel-body{
   
        background-color: #9ff89c;
        width: 100%;
        border: 0px;
        padding: 25px;
        
        border-radius: 10px;
        display:inline-block;
    
}

.bg-color{
    background-color:#f5a2a5 
}
.fieldset{
    display:inline-block;
}
.width-change{
width:100%;
    display:inline-block;
}
.widthChangeChild{
    display:inline-block;
    width:100%;
    max-width:420px;

}
.panel-heading{
background-color: white;
}
.panel-default,.panel-collapse collapse in, .form-check-input{
    border: none;
    border-bottom-color: none;
    border-block-start-color: none;
    text-align: center  
}
.panel-default1{

    text-align:justify;
    background-color:aliceblue;
    

}

.glyphicon{
   float: right;
   color:rgba(8, 182, 8, 0.664)
}

.note{
    text-align: left;
    
    
}

.radio-inline{
    text-align: left

}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color:black;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
/* #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
} */


/*buttons*/
.action-button.next {
    width: 100px;
    background: rgb(241, 128, 12);
    font-weight: bold;
    color:black;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}



#msform .action-button-previous {
    width: 40px;
    background: rgb(206, 200, 200);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 2px;
    margin: 10px 2px;
}




/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background:#05ec5eb0;
    color: white;
}

ul.record_buttons
{
    text-align:left;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.record_buttons li{
    display:inline-block;
   
}

button.record_button {
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid #dbdbdb;
    outline: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #ed1c24;
}
#micStop{
color:black;
}
#micVolumeUp{
    color:green;
}

.row{
      width:100%;
      height:auto;
      /* background-color:rgba(236, 232, 232, 0.904); */
       display:inline-block;
      border-radius: 7px;
    padding: 10px;
    margin-left:0px;
    margin-right:0px;
    text-align: center;
} 

.pl0{
padding-left: 0px;
}

.instruction-set{
    display: inline-block;
}
.amplitude
{
    background:#000;
    width:10px;
    max-height:35px;
    min-height:2px;
}
button.record_button.amp_button {
    height:60px;
    padding:8px 3px;
    margin:0px 10px;
    border-radius:0;
}
panel-heading{
    background-color: white;
    }
    .panel-default,.panel-collapse collapse in {
        border: none;
        border-bottom-color: none;
        border-block-start-color: none;
        text-align: center  
    }
   
    .panel-default1{
    
        text-align:left;
        background-color:aliceblue;
        
    
    }
    .form-group{
        position: center;
        text-align:left;
        padding:20px;
    }
.form{
    text-align:left ;
}


@keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
  }
  .md-radio {
    margin: 16px 0;
  }
  .md-radio.md-radio-inline {
    display: inline-block;
  }
  .md-radio input[type="radio"] {
    display: none;
  }
  .md-radio input[type="radio"]:checked + label:before {
    border-color: #337ab7;
    animation: ripple 0.2s linear forwards;
  }
  .md-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
  }
  .md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
  }
  .md-radio label:before, .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
  .md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.54);
  }
  .md-radio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #337ab7;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    background: #f0f0f0;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #333;
  }
  
  section {
    background: white;
    margin: 0 auto;
    padding: 4em;
    max-width: 800px;
  }
  section h1 {
    margin: 0 0 2em;
  }
  