body{  
    background-image: url('assets/images/image.jpg');
    background-size:cover;
   background-position: 0%;
   background-repeat: no-repeat;
}

app-root{
    display: inline-block;
    width: 100%;
}